body {
    background-color: whitesmoke;
    margin: 0px;
}
.inner {
    /* Image used - https://unsplash.com/photos/macro-photography-of-black-circuit-board-FO7JIlwjOtU (macro photography of black circuit board by 
Alexandre Debiève */
    background-image: url("images/w1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    padding-top:12.5%;
    padding-bottom:15%;
    font-family: Arial;
  }
  .inner h1 {
    color: skyblue;
    text-align: center;
    font-size:8em;
  }
  .inner p {
    color:white;
    font-size: 4em;
    margin-top: -30px;
    text-align: center;

  }
  .tldr {
    padding-top: 1.5%;
    font-family: Arial;
  }
  .tldr h1{
    text-align: center;
    font-size: 3em;
    color: rgb(25, 25, 25);
  }
  .tldr p{
    text-align:justify;
    font-size: 1.5em;
    color: rgb(25, 25, 25);
    padding-left: 24%;
    padding-right: 24%;
    padding-bottom: 2.5%;
  }
.skills h1{
  color: white;
}
.skills {
  color: white;
  list-style-type: none;
  text-align: center;
  background-color: skyblue;  
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  padding-top: 1.5%;
  padding-bottom: 2%;
}
.skills i{
  Height: 2em;
  Width: 2em;
  Border: 1px solid;
  background-color: white;
  border-radius: 50%;
  color: skyblue;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 6em;
  text-align:center;
}
.skills ul{
  list-style-type: none;
  text-align: center;
  background-color: skyblue;  
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
.skills p{
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}
.skills p:hover{
background-color: lightblue;
color:white;
}
.skills li{
  display:inline-block;
}
.incomplete{
  padding-top:12.5%;
  font-family: Arial;
  color: orangered;
  text-align: center;
  font-size:2em;
}
.incomplete i{
  color: orange;
  text-align: center;
  font-size:3em;
}
.incomplete p{
  color: black;
  font-family: Arial;
  text-align: center;
  font-size:1em;
}