 .navbar {
  font-family: Arial;
  font-size: 2em;
 }
 .navbar ul{
    list-style-type: none;
    text-align: center;
    background-color: hsl(0, 0%, 5%);  
    padding: 0px;
    margin: 0px;
    overflow: hidden;
  }
 .navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
 }
 .navbar a:hover{
  background-color: hsl(0, 0%, 10%);
 }
 .navbar li{
    display:inline-block;
 }
 div.button{
   text-align: center;
 }